@charset "UTF-8";
@import "_cookie.scss";
/*------------------ Colors:Start ------------------------*/
:root {
    /*------------------ Primary Colors ------------------------*/
    --primary: #023143 !important;
    --secondary: #567682 !important;
    --black: #000000 !important;
    --white: #ffffff !important;
    --gold: #E9BA3F !important;
    --headerBlack: #292929 !important;
    --headerGray: #6e6d6d !important;
    --headerLightGray: #e3e3e3 !important;
    --primaryHeading: #0B4183 !important;
    /*------------------ Secondary Colors ------------------------*/
    /*------------------ Default Colors ------------------------*/
    --darkGrey: #151515 !important;
    --lightGrey: #f2f4f5 !important;
    --lightGreyBakground: #f8f8f8 !important;
}

/*------------------ Colors:End ------------------------*/
body {
    margin: 0;
    padding: 0;
    transition: all ease 0.5s;
}

.pl-5 {
    padding-left: 3rem !important;
}

.pr-5 {
    padding-right: 3rem !important;
}

header {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #70707063;

    .nav-icon {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            // margin-top: 20px;
            position:relative;
            right: -20px;
            bottom: 0;
            height: 20px;
            top: 30px;
            i {
                font-size: 22px !important;
                color: var(--primary);
            }
        }
    }

    .logo {
        // height: 70px;
        // width: 80px;
        padding: 5px;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    h1 {
        color: var(--primary);
        font-family: 'Roboto';

        @media (max-width: 991.98px) {
            font-size: 25px;
        }

        font-size: 30px;
        align-items: center;
        justify-content: center;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1199.98px) {
            justify-content: start;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 15px;
            list-style: none;

            li.menu-item {
                &:hover {
                    border-bottom: 2px solid var(--gold);
                    background-color: #f3f1f157;
                }
            }

            li {
                float: left;
                font-family: 'Roboto';
                border-bottom: 2px solid transparent;
                padding: 15px;

                @media (max-width: 991.98px) {
                    padding: 10px !important;
                }

                a {
                    color: var(--primary);
                    font-size: 17px;

                    @media (max-width: 991.98px) {
                        font-size: 15px !important;
                    }

                    font-weight: 500;
                    text-decoration: none;

                }

                .btn-contact {
                    color: var(--white);
                    background-color: var(--primary);
                    border: 2px solid var(--primary);
                    border-radius: 4px;
                    padding: 5px 25px;
                    font-size: 20px;
                    font-family: 'Roboto';

                    // width: 180px;
                    &:hover {
                        background-color: var(--white);
                        color: var(--primary);
                    }
                }

            }
        }
    }
}

.banner {
    padding: 0;
    margin: 0;
    background-image: url(/assets/images/banner-bg.png);
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;

    .background {

        // height: 500px;
        .text {
            padding: 100px 0 100px;

            .heading-sm {
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: #1E2E3E;
                font-size: 70px;
                line-height: 1;
                padding: 0;
                margin: 0;
            }

            .heading-lg {
                margin: 0;
                padding: 0;
                color: var(--primary);
                font-size: 140px;
                font-weight: bold;
                font-family: Georgia, 'Times New Roman', Times, serif;
                line-height: 1;
            }

            .content {
                padding-top: 1rem;
                font-size: 35px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: #1E2E3E;
                line-height: 1;
            }

            .help {
                padding-top: 40px;

                .help-btn {
                    color: var(--white);
                    background-color: var(--primary);
                    border: 3px solid var(--primary);
                    border-radius: 4px;
                    padding: 5px 25px;
                    font-size: 30px;
                    font-family: 'Roboto';

                    // width: 180px;
                    &:hover {
                        background-color: var(--white);
                        color: var(--primary);
                    }
                }
            }
        }
    }
}

.banner-2 {
    padding: 0;
    margin: 0;
    background-image: url(/assets/images/banner2-bg.png);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 0;

    .text {
        p {
            margin: 0;
            padding: 0;
            font-family: 'Roboto';
            text-transform: uppercase;
            color: var(--secondary);
            font-size: 110px;
            line-height: 1;
        }
    }
}

.services {
    background-image: url(/assets/images/services-bg.webp);
    background-position: 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;

    // height: 500px;
    .head {
        padding-top: 100px;

        // padding-left: 100px;
        .heading {
            color: var(--white);
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 90px;
            font-weight: bolder;
            line-height: 1.25;
            padding: 0;
            margin: 0;
        }

        .heading-hr {
            border: 2px solid var(--gold);
            background-color: var(--gold);
            border-radius: 5px;
            color: var(--gold);
            width: 350px;
            opacity: 1;
            padding: 0;
            margin: 0;
        }
    }

    .row-cards {

        // padding-bottom:3rem;
        // padding-left: 100px;
        // padding-right: 100px;
        .card {
            margin-top: 3rem;

            .image {
                height: 550px;
                object-fit: contain;
                overflow: hidden;
                border-radius: 5px;

                img {
                    max-width: 100%;
                    transition: all 0.5s ease-in;
                    transform: scale(1.2);
                }
            }

            .info {
                display: none;
                position: absolute;
                top: 350px;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #023143aa;
                border-radius: 0 0 5px 5px;
                transition: all 0.5s ease-in;

                .text {
                    font-size: 50px;
                    color: var(--white);
                    font-family: 'Roboto';
                    font-weight: 600;
                    line-height: 1;
                    text-transform: uppercase;
                    text-align: center;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    padding-top: 0.5rem;
                }

                .button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .btn-help {
                        font-family: 'Roboto';
                        font-weight: 600;
                        background-color: transparent;
                        border: 2px solid var(--white);
                        color: var(--white);
                        padding: 9px 30px;
                        font-size: 25px;

                        &:hover {
                            color: var(--primary);
                            background-color: var(--white);

                        }
                    }
                }
            }

            &:hover {
                .image {
                    img {
                        transition: all 0.5s ease-out;
                        transform: scale(1);
                    }
                }

                .info {
                    display: block;
                    transition: all 0.5s ease-out;
                }
            }
        }

        .card-lg {
            .image {
                height: 425px;
            }

            .info {
                top: 250px;
                padding: 1rem;
            }
        }

    }
}

.about-wolfee {
    background-image: url(/assets/images/about-wolfee-co.png);
    background-position: 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;

    .head {
        padding-top: 100px;

        // padding-left: 100px;
        .heading {
            color: var(--primary);
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 90px;
            line-height: 1.25;
            padding: 0;
            font-weight: bolder;
            margin: 0;
        }

        .heading-hr {
            border: 2px solid var(--gold);
            background-color: var(--gold);
            border-radius: 5px;
            color: var(--gold);
            width: 350px;
            opacity: 1;
            padding: 0;
            margin: 0;
        }
    }

    .row-2 {
        // padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 100px;

        .text {
            padding-top: 3rem;
            padding-right: 1rem;
            margin: 0;
            font-size: 32px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #1E2E3E;
            line-height: 1;
        }

        .image {
            object-fit: contain;
            overflow: hidden;
            border-radius: 5px;

            // height: 450px;
            img {
                height: 100%;
                width: 100%;
            }
        }

        .info {
            position: absolute;
            // top:315px;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100px;
            background-color: #023143aa;
            border-radius: 0 0 5px 5px;
            transition: all 0.5s ease-in;
            padding-top: 10px;

            // padding: 10px 75px 5px 75px;
            .text-sm {
                color: var(--white);
                text-align: center;
                font-size: 30px;
                line-height: 1;
                padding: 0;
                margin: 0;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: bold;
            }

            .text-lg {
                color: var(--white);
                text-align: center;
                font-size: 50px;
                line-height: 1;
                padding: 0;
                margin: 0;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: bold;
            }
        }
    }
}

.banner-blue-3 {
    padding: 0;
    margin: 0;
    background-image: url(/assets/images/banner-blue-3.png);
    background-position: 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 0;

    .text {
        // padding: 82px 0 86px;

        p {
            margin: 0;
            padding: 0;
            font-family: 'Roboto';
            text-transform: uppercase;
            color: var(--white);
            font-size: 90px;
            line-height: 1;
        }
    }
}

.attiq-malik {
    padding: 0;
    margin: 0;
    background-image: url(/assets/images/attiq-malik-bg.png);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;

    .head {
        padding-top: 50px;

        // padding-left: 100px;
        .heading {
            color: #2C5362;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 90px;
            font-weight: bolder;
            line-height: 1.25;
            padding: 0;
            margin: 0;
        }

        .heading-hr {
            border: 2px solid var(--gold);
            background-color: var(--gold);
            border-radius: 5px;
            color: var(--gold);
            width: 350px;
            opacity: 1;
            padding: 0;
            margin: 0;
        }

        .sub-heading {
            color: var(--primary);
            font-family: Roboto;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 35px;
        }
    }

    .row-2 {
        i {
            color: var(--gold);
            font-size: 45px;
        }

        .info {
            color: var(--primary);
            font-size: 25px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
    .c-1{
        .image {
            object-fit: contain;
            overflow: hidden;
            border-radius: 5px;

            // height: 450px;
            img {
                height: 100%;
                width: 100%;
            }

        }
        .info-2 {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100px;
            background-color: #023143aa;
            border-radius: 0 0 5px 5px;
            transition: all 0.5s ease-in;
            padding-top: 10px;
            z-index: 100;
            .text{
                color: var(--white);
                text-align: center;
                font-size: 30px;
                line-height: 1;
                padding: 0;
                margin: 0;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: bold;
            }
        }
    }
}

.our-team {
    background-image: url(/assets/images/our-team-bg.png);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2rem;

    .head {
        padding-top: 50px;

        // padding-left: 100px;
        .heading {
            color: #2C5362;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 90px;
            font-weight: bolder;
            line-height: 1.25;
            padding: 0;
            margin: 0;
        }

        .heading-hr {
            border: 2px solid var(--gold);
            background-color: var(--gold);
            border-radius: 5px;
            color: var(--gold);
            width: 350px;
            opacity: 1;
            padding: 0;
            margin: 0;
        }
    }

    .row-2 {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        color: var(--gold);
        position: relative;
        display: inline-block;
        text-decoration: none;
        font-size: 50px;
        padding-left: 1rem;
        padding-right: 1rem;

        &:hover {
            color: var(--gold);
        }
    }

    a {
        text-decoration: none;

        .card {
            border-radius: 4px;

            .card-body {
                padding: 5px;

                .card-img-top {
                    overflow: hidden;
                    img {
                        border: 2px solid #567682;
                        height: 100%;
                        transition: all 0.5s ease-in;
                    }
                }

                .info {
                    align-items: center;
                    justify-content: center;
                    display: block;
                    padding: 0;
                    margin: 0;

                    .name {
                        font-size: 25px;
                        line-height: 1;
                        text-align: center;
                        color: var(--primary);
                        font-family: Roboto;
                        margin: 0;
                        font-weight: 500;
                        padding: 5px 0Spx;
                    }

                    .hr-center {
                        transition: display 0.5s ease-in;
                        display: none;
                        margin: 0px 15%;
                        padding: 0;
                        color: var(--gold);
                        border: 1px solid var(--gold);
                        width: 70%;
                        opacity: 1;
                    }

                    .designation {
                        transition: display 0.5s ease-in;
                        display: none;
                        color: var(--primary);
                        font-family: Roboto;
                        text-align: center;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 15px;
                        padding: 5px 0;
                        margin: 0;
                    }
                }
            }

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

                .card-body {
                    .card-img-top {
                        img {
                            transform: scale(1.2);
                            transition: all 0.5s ease-out;
                        }
                    }
                    .info {
                        .hr-center {
                            transition: display 0.5s ease-out;
                            display: block;
                        }

                        .designation {
                            transition: display 0.5s ease-out;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    #team-slider {
        padding-top: 1rem;

        .carousel-item {
            .row {
                height: 450px;

                .col-md-3,
                .col-sm-3,
                .col-lg-3 {
                    &:nth-child(odd) {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }

    #team-slider2 {
        padding-top: 1rem;

        .carousel-item {
            .row {
                height: 450px;

                .col-md-3,
                .col-sm-3,
                .col-lg-3 {
                    margin-top: 1rem;

                    .card {
                        .info {
                            .hr-center {
                                display: block;
                            }

                            .designation {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.blogs-and-articles {
    background-image: url(/assets/images/blogs-bg.png);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2rem;

    .head {
        padding-top: 50px;

        // padding-left: 100px;
        .heading {
            color: var(--white);
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 90px;
            font-weight: bolder;
            line-height: 1.25;
            padding: 0;
            margin: 0;
        }

        .heading-hr {
            border: 2px solid var(--gold);
            background-color: var(--gold);
            border-radius: 5px;
            color: var(--gold);
            width: 350px;
            opacity: 1;
            padding: 0;
            margin: 0;
        }
    }

    .row-2 {
        padding-left: 3rem;
        padding-right: 3rem;

        .carousel-control-prev,
        .carousel-control-next {
            color: var(--gold);
            position: relative;
            display: inline-block;
            text-decoration: none;
            font-size: 50px;
            padding-left: 1rem;
            padding-right: 1rem;

            &:hover {
                color: var(--gold);
            }
        }
    }

    a {
        text-decoration: none;

        .card {
            border-radius: 4px;

            .image {
                overflow: hidden;
                border-radius: 4px;

                img {
                    transform: scale(1.2);
                    transition: all 0.3s ease-in;
                }
            }

            .info {
                display: none;
                transition: display 0.5s ease-in;
                position: absolute;
                // top:325px;
                // top:70vh;
                left: 0;
                right: 0;
                bottom: 0;
                height: 30%;
                background-color: #023143aa;
                border-radius: 0 0 5px 5px;
                font-family: Roboto;
                transition: all 0.5s ease-in;

                // padding: 10px 75px 5px 75px;
                .blog-name {
                    color: var(--white);
                    font-size: 28px;
                    text-transform: uppercase;
                    text-align: left;
                    padding-left: 8px;
                    margin: 0;
                    font-weight: 500;
                }

                .text {
                    font-size: 15px;
                    padding-left: 8px;
                    padding-right: 15px;
                    text-align: left;
                    margin: 0;
                    line-height: 1;
                    font-weight: 300;
                    color: var(--white);
                }

                .date {
                    font-size: 10px;
                    padding-left: 8px;
                    padding-right: 13px;
                    text-align: right;
                    color: var(--white);
                }
            }
        }

        &:hover {
            .card {
                .image {
                    img {
                        transform: scaleX(1);
                    }
                }

                .info {
                    display: block;
                    transition: display 0.5s ease-out;
                }
            }
        }
    }

    #blogs-slider {
        padding-top: 1rem;

        .carousel-item {
            .row {

                .col-md-4,
                .col-sm-4,
                .col-lg-4 {

                    // Apply styles to odd cards
                    &:nth-child(even) {
                        // Your SCSS styles for odd cards
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}

.clients {
    background-image: url(/assets/images/clients-bg.png);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2rem;

    .head {
        padding-top: 50px;

        // padding-left: 100px;
        .heading {
            color: #2C5362;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 90px;
            font-weight: bolder;
            line-height: 1.25;
            padding: 0;
            margin: 0;
        }

        .heading-hr {
            border: 2px solid var(--gold);
            background-color: var(--gold);
            border-radius: 5px;
            color: var(--gold);
            width: 350px;
            opacity: 1;
            padding: 0;
            margin: 0;
        }
    }
    
    .row-2 {
        .carousel-control-prev,
        .carousel-control-next {
            color: var(--gold);
            position: relative;
            display: inline-block;
            text-decoration: none;
            font-size: 50px;
            padding-left: 1rem;
            padding-right: 1rem;

            &:hover {
                color: var(--gold);
            }
        }
    }

    .card {
        padding: 50px;
        border: none;
        background: transparent;

        .image {
            height: 275px;
            width: 275px;
            object-fit: contain;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .info {
            margin-top: 2.5rem;
            margin-left: 3rem;
            margin-right: 1rem;
            border-top: 2px solid var(--primary);
            border-bottom: 2px solid var(--primary);
            font-family: Roboto;

            .text {
                font-size: 23px;
                color: var(--primary);

                i {
                    color: var(--gold);
                    font-size: 25px;
                }
            }

            .name {
                text-align: center;
                color: var(--gold);
                font-size: 27px;
                font-weight: 500;
            }
        }
    }
}

.featured {
    background-image: url(/assets/images/featured-bg.png);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2rem;

    .head {
        padding-top: 50px;

        // padding-left: 100px;
        .heading {
            color: #2C5362;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 90px;
            font-weight: bolder;
            line-height: 1.25;
            padding: 0;
            margin: 0;
        }

        .heading-hr {
            border: 2px solid var(--gold);
            background-color: var(--gold);
            border-radius: 5px;
            color: var(--gold);
            width: 350px;
            opacity: 1;
            padding: 0;
            margin: 0;
        }
    }

    .image {
        object-fit: contain;
        overflow: hidden;
        margin-top: 3rem;

        img {
            height: 100%;
            width: 100%;
            transform: scale(0.8);
            transition: all 0.3s ease-out;

            &:hover {
                transform: scale(1);
                transition: all 0.3s ease-in;
            }
        }
    }
}

footer {
    background-color: var(--primary);
    padding-top: 4rem;
    padding-bottom: 2rem;

    .logo {
        // height: 140px;
        width: 140px;
        object-fit: contain;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .info {
        padding-top: 1rem;

        .text {
            color: var(--white);
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;

        }
    }

    .info1 {
        .circles {
            display: flex;
            align-items: center;
            justify-content: start;
        }

        .text {
            color: var(--white);
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;

            a {
                text-decoration: none;
                color: var(--white);

                &:hover {
                    text-decoration: underline;
                }
            }

            .circle {
                font-size: 20px;
                color: var(--primary);
                background-color: var(--white);
                border-radius: 50px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                margin-right: 15px;
            }
        }

        .form {
            button {
                background-color: var(--gold);
                color: var(--primary);
                border: 1px solid var(--gold);
                width: 200px;
                font-weight: 500;
                margin-left: 5px;

                &:hover {
                    background-color: transparent;
                    color: var(--gold);
                }
            }
        }
    }

    .title {
        color: var(--gold);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;

        .heading {
            margin: 0;
        }
    }

    .title1 {
        color: var(--gold);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;
    }

    .line {
        // width: 70vw;
        margin-left: 9rem;
        margin-right: 9rem;
        color: var(--white);
        border: 1px solid var(--white);
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .rights {
        color: var(--white);
        text-align: center;
        font-size: 12px;
    }
}
.slideRightToLeft {
    width: 0;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 99999999999;
}

.base-sidebar-background {
    z-index: 999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: hidden;
    background: rgb(247, 247, 247);
}

.base-sidebar-content {
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    flex-direction: column;
    right: 0;
    left: auto;
    display: flex;
    background: #fff;
    max-width: 600px;

    .base-sidebar-content-body {
        flex: 1;
        display: unset;

        .back-to-cart {
            background-color: transparent;
        }
    }
}

.slideRightToLeft.show {
    right: 0;
    width: 100%;
    visibility: inherit;
    opacity: 1;
    position: relative;

    .logo{
        img{
            height: 60px;
            width: 200px;
        }
    }

    .menu-main-body {
        padding: 0 20px 30px;

        .main-heading {
            font-size: 16px !important;
            font-weight: 600 !important;
            color: #343434;
            padding: 0;
            margin: 0;
            font-family: Roboto;
        }

        #menu_accordion {
            a {
                text-decoration: none;
                color: #343434;
                font-size: 14px;
            }

            .accordion-button {
                border-bottom: 1px solid var(--lightGrey);

                &::after {
                    content: "+";
                    background: none;
                    font-size: 20px;
                }

                &:not(.collapsed) {
                    background-color: transparent !important;

                    &::after {
                        transform: rotate(0);
                        font-size: 20px;
                        content: "-";
                        background: none;
                    }
                }
            }

            .accordion-button.single {
                &::after {
                    content: "";
                    background: none;
                }
            }

            .accordion-button.single.sale {
                color: red;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .pl-5 {
        padding-left: 1rem !important;
    }

    .pt-5 {
        padding-top: 1rem !important;

    }

    .heading-hr {
        width: 150px!important;
    }

    header {
        padding: 10px 15px;

        .col-8 {
            padding: 0!important;
        }

        h1 {
            font-size: 40px;
        }
    }

    .banner {
        .heading-sm {
            font-size: 25px !important;
        }

        .heading-lg {
            font-size: 50px !important;
        }

        .content {
            font-size: 16px !important;
        }

        .help {
            .help-btn {
                font-size: 18px !important;
            }
        }
    }

    .banner-2 {
        .text {
            // padding: 82px 0 86px;

            p {
                font-size: 50px;
            }
        }
    }

    .services {
        .head {
            padding-top: 50px;

            .heading {
                font-size: 50px;
            }
        }

        .row-cards {
            .card {
                margin-top: 1rem;

                .image {
                    height: 425px;
                }

                .info {
                    top: 275px;

                    .text {
                        font-size: 23px;
                    }

                    .button {
                        .btn-help {
                            font-size: 20px;
                        }
                    }
                }
            }

            .card-lg {
                .image {
                    height: 150px;
                }

                .info {
                    top: 25px;
                    padding: 0rem;
                    // padding-bottom: 1rem;
                }
            }

        }
    }

    .about-wolfee {
        .head {
            padding-top: 50px;

            .heading {
                font-size: 50px;
            }
        }

        .row-2 {
            // padding-left: 100px;
            padding-right: 0px;
            padding-bottom: 1rem;

            .text {
                padding-top: 1rem;
                padding-bottom: 1rem;
                padding-right: 0rem;
                font-size: 18px;
            }

            .info {
                // top:315px;
                // padding: 10px 75px 5px 75px;
                padding-top: 10px;

                .text-sm {
                    font-size: 28px;
                    text-align: center;
                }

                .text-lg {
                    text-align: center;
                    font-size: 38px;
                }
            }
        }
    }

    .banner-blue-3 {
        .text {
            // padding: 82px 0 86px;

            p {
                font-size: 50px;
            }
        }
    }

    .attiq-malik {
        .c-1 {
            order: 1;
        }

        .c-2 {
            order: 0;
        }

        .head {
            padding-top: 50px;

            .heading {
                font-size: 50px;
            }

            .sub-heading {
                font-size: 25px;
            }
        }

        .row-2 {
            i {
                font-size: 30px;
            }

            .info {
                font-size: 18px;
            }
        }
    }

    .our-team {
        .head {
            padding-top: 50px;

            .heading {
                font-size: 50px;
            }
        }

        .row-2 {
            padding-right: 1rem !important;
            padding-left: 1rem !important;

            .carousel-control-prev,
            .carousel-control-next {
                padding-left: 0.25rem;
                padding-right: 0.25rem;
                font-size: 35px;
            }
        }

        #team-slider {
            .carousel-item {
                .row {
                    .col-md-4 {
                        margin-top: 2rem;

                        .card {
                            .info {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .blogs-and-articles {
        .head {
            padding-top: 50px;

            .heading {
                font-size: 50px;
            }
        }

        .row-2 {
            padding-left: 1rem;
            padding-right: 1rem;

            .carousel-control-prev,
            .carousel-control-next {
                padding-left: 0.25rem;
                padding-right: 0.25rem;
                font-size: 35px;
            }
        }

        #blogs-slider2 {
            .carousel-item {
                .row {
                    .col-md-4 {
                        margin-top: 2rem;

                        .card {
                            .info {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .clients {
        .head {
            padding-top: 50px;

            .heading {
                font-size: 50px;
            }
        }

        .card {
            padding: 10px;

            .image {
                padding-top: 50px;

                img {
                    height: 100px;
                    width: 100px;
                }
            }

            .info {
                margin-top: 2.5rem;
                margin-left: 2rem;
                margin-right: 1rem;

                .text {
                    font-size: 14px;
                    color: var(--primary);

                    i {
                        color: var(--gold);
                        font-size: 16px;
                    }
                }

                .name {
                    font-size: 17px;
                }
            }
        }

        .row-2 {
            padding-right: 1rem !important;
            padding-left: 1rem !important;

            .carousel-control-prev,
            .carousel-control-next {
                padding-left: 0.25rem;
                padding-right: 0.25rem;
                font-size: 35px;
            }
        }
    }

    .featured {
        .head {
            padding-top: 50px;

            .heading {
                font-size: 50px;
            }
        }
    }

}